<header>
  <nav class="form-search navbar-form navbar-left" role="search">
    <div class="form-group">
      <input type="text" class="search-bar form-control input-sm" placeholder="Search">
    </div>
    <button type="submit" class="submit-button btn btn-sm btn-default">
      {{fa-icon 'search'}}
    </button>
  </nav>
  <nav class="pull-right u-margin-Txs u-margin-Rxs">
    <div> {{link-to "Upload" "songs.upload"}} </div>
  </nav>
  <div class="clearfix"></div>
</header>