<div class="content">
  <div class="primary-actions">
    <button class="btn-container step-backward u-font-size-1p5em">
      {{fa-icon 'step-backward'}}
    </button>
    {{#if song.isPlaying}}
      <button class="btn-container play-pause" {{action 'pause'}}>
        {{fa-icon 'pause'}}
      </button>
    {{else}}
      <button class="btn-container play-pause" {{action 'play'}}>
        {{fa-icon 'play'}}
      </button>
    {{/if}}
    <button class="btn-container step-forward u-font-size-1p5em">
      {{fa-icon 'step-forward'}}
    </button>
  </div>

  <div class="playback">
    {{!-- pb is playback not progress-bar --}}
    <div class="pb-time pb-time-passed">
      <span>{{elapsedTimeFormatted}}</span>
    </div>

    {{progress-area elapsedTime=elapsedTime
      duration=song.duration
      isDisabled=isAvailable
      on-change-playback-position=(action 'changePlaybackPosition')}}

    <div class="pb-time pb-time-total">
      <span>{{durationFormatted}}</span>
    </div>
  </div>

  {{player-volume song=song}}
</div>