{{music-player isLeft=true
  song=leftSong
  isAvailable=isLeftPlayerAvailable
  on-change-playing-state=(action 'changeSongPlayingState' leftSong)}}

<div class="separator"></div>

{{music-player isLeft=false
  song=rightSong
  isAvailable=isRightPlayerAvailable
  on-change-playing-state=(action 'changeSongPlayingState' rightSong)}}