<div class="volume-slider">
  <div class="volume-slider-usable" draggable="true">
    <div class="volume-bar">
      <div class="volume-bar-current"></div>
    </div>
  </div>
</div>

{{#if isVolumeUp}}
  <button class="btn-container u-font-size-1p5em" {{action 'mute'}}>
    {{fa-icon 'volume-up'}}
  </button>
{{else}} {{#if isVolumeDown}}
  <button class="btn-container u-font-size-1p5em" {{action 'mute'}}>
    {{fa-icon 'volume-down'}}
  </button>
{{else}}
  <button class="btn-container u-font-size-1p5em" {{action 'unmute'}}>
    {{fa-icon 'volume-off'}}
  </button>
{{/if}} {{/if}}