$header-height: 46px;
$sidebar-width: 100px;
$player-height: 46px;
$volume-slider-height: 150px;
$volume-slider-pseudo-before-height: 3px;

$separator-width: 3px;

$progress-color-fst: rgb(78, 78, 78);
$progress-color-snd: #4E98B5;

$purple: #4F256B;
$purple-darker: #251133;
$gray-lightest: #F1F1F1;
$gray-darkest: #29252B;
$disabled-gray: #888;

$volume-slider-transition: height 0.5s ease-out;