.u-padding-Axxl {
  padding: 40px; }

.u-padding-Axl {
  padding: 35px; }

.u-padding-Al {
  padding: 30px; }

.u-padding-Axm {
  padding: 25px; }

.u-padding-Am {
  padding: 20px; }

.u-padding-As {
  padding: 15px; }

.u-padding-Axs {
  padding: 10px; }

.u-padding-Axxs {
  padding: 5px; }

.u-padding-An {
  padding: 0; }

.u-margin-Axxl {
  margin: 40px; }

.u-margin-Axl {
  margin: 35px; }

.u-margin-Al {
  margin: 30px; }

.u-margin-Axm {
  margin: 25px; }

.u-margin-Am {
  margin: 20px; }

.u-margin-As {
  margin: 15px; }

.u-margin-Axs {
  margin: 10px; }

.u-margin-Axxs {
  margin: 5px; }

.u-margin-An {
  margin: 0; }

.u-margin-Vxxl {
  margin-top: 40px;
  margin-bottom: 40px; }

.u-margin-Vxl {
  margin-top: 35px;
  margin-bottom: 35px; }

.u-margin-Vl {
  margin-top: 30px;
  margin-bottom: 30px; }

.u-margin-Vxm {
  margin-top: 25px;
  margin-bottom: 25px; }

.u-margin-Vm {
  margin-top: 20px;
  margin-bottom: 20px; }

.u-margin-Vs {
  margin-top: 15px;
  margin-bottom: 15px; }

.u-margin-Vxs {
  margin-top: 10px;
  margin-bottom: 10px; }

.u-margin-Vxxs {
  margin-top: 5px;
  margin-bottom: 5px; }

.u-margin-Vn {
  margin-top: 0;
  margin-bottom: 0; }

.u-padding-Vxxl {
  padding-top: 40px;
  padding-bottom: 40px; }

.u-padding-Vxl {
  padding-top: 35px;
  padding-bottom: 35px; }

.u-padding-Vl {
  padding-top: 30px;
  padding-bottom: 30px; }

.u-padding-Vxm {
  padding-top: 25px;
  padding-bottom: 25px; }

.u-padding-Vm {
  padding-top: 20px;
  padding-bottom: 20px; }

.u-padding-Vs {
  padding-top: 15px;
  padding-bottom: 15px; }

.u-padding-Vxs {
  padding-top: 10px;
  padding-bottom: 10px; }

.u-padding-Vxxs {
  padding-top: 5px;
  padding-bottom: 5px; }

.u-padding-Vn {
  padding-top: 0;
  padding-bottom: 0; }

.u-margin-Hxxl {
  margin-left: 40px;
  margin-right: 40px; }

.u-margin-Hxl {
  margin-left: 35px;
  margin-right: 35px; }

.u-margin-Hl {
  margin-left: 30px;
  margin-right: 30px; }

.u-margin-Hxm {
  margin-left: 25px;
  margin-right: 25px; }

.u-margin-Hm {
  margin-left: 20px;
  margin-right: 20px; }

.u-margin-Hs {
  margin-left: 15px;
  margin-right: 15px; }

.u-margin-Hxs {
  margin-left: 10px;
  margin-right: 10px; }

.u-margin-Hxxs {
  margin-left: 5px;
  margin-right: 5px; }

.u-margin-Hn {
  margin-left: 0;
  margin-right: 0; }

.u-padding-Hxxl {
  padding-left: 40px;
  padding-right: 40px; }

.u-padding-Hxl {
  padding-left: 35px;
  padding-right: 35px; }

.u-padding-Hl {
  padding-left: 30px;
  padding-right: 30px; }

.u-padding-Hxm {
  padding-left: 25px;
  padding-right: 25px; }

.u-padding-Hm {
  padding-left: 20px;
  padding-right: 20px; }

.u-padding-Hs {
  padding-left: 15px;
  padding-right: 15px; }

.u-padding-Hxs {
  padding-left: 10px;
  padding-right: 10px; }

.u-padding-Hxxs {
  padding-left: 5px;
  padding-right: 5px; }

.u-padding-Hn {
  padding-left: 0;
  padding-right: 0; }

.u-margin-Txxl {
  margin-top: 40px; }

.u-margin-Txl {
  margin-top: 35px; }

.u-margin-Tl {
  margin-top: 30px; }

.u-margin-Txm {
  margin-top: 25px; }

.u-margin-Tm {
  margin-top: 20px; }

.u-margin-Ts {
  margin-top: 15px; }

.u-margin-Txs {
  margin-top: 10px; }

.u-margin-Txxs {
  margin-top: 5px; }

.u-margin-Tn {
  margin-top: 0; }

.u-padding-Txxl {
  padding-top: 40px; }

.u-padding-Txl {
  padding-top: 35px; }

.u-padding-Tl {
  padding-top: 30px; }

.u-padding-Txm {
  padding-top: 25px; }

.u-padding-Tm {
  padding-top: 20px; }

.u-padding-Ts {
  padding-top: 15px; }

.u-padding-Txs {
  padding-top: 10px; }

.u-padding-Txxs {
  padding-top: 5px; }

.u-padding-Tn {
  padding-top: 0; }

.u-margin-Bxxl {
  margin-bottom: 40px; }

.u-margin-Bxl {
  margin-bottom: 35px; }

.u-margin-Bl {
  margin-bottom: 30px; }

.u-margin-Bxm {
  margin-bottom: 25px; }

.u-margin-Bm {
  margin-bottom: 20px; }

.u-margin-Bs {
  margin-bottom: 15px; }

.u-margin-Bxs {
  margin-bottom: 10px; }

.u-margin-Bxxs {
  margin-bottom: 5px; }

.u-margin-Bn {
  margin-bottom: 0; }

.u-padding-Bxxl {
  padding-bottom: 40px; }

.u-padding-Bxl {
  padding-bottom: 35px; }

.u-padding-Bl {
  padding-bottom: 30px; }

.u-padding-Bxm {
  padding-bottom: 25px; }

.u-padding-Bm {
  padding-bottom: 20px; }

.u-padding-Bs {
  padding-bottom: 15px; }

.u-padding-Bxs {
  padding-bottom: 10px; }

.u-padding-Bxxs {
  padding-bottom: 5px; }

.u-padding-Bn {
  padding-bottom: 0; }

.u-margin-Rxxl {
  margin-right: 40px; }

.u-margin-Rxl {
  margin-right: 35px; }

.u-margin-Rl {
  margin-right: 30px; }

.u-margin-Rxm {
  margin-right: 25px; }

.u-margin-Rm {
  margin-right: 20px; }

.u-margin-Rs {
  margin-right: 15px; }

.u-margin-Rxs {
  margin-right: 10px; }

.u-margin-Rxxs {
  margin-right: 5px; }

.u-margin-Rn {
  margin-right: 0; }

.u-padding-Rxxl {
  padding-right: 40px; }

.u-padding-Rxl {
  padding-right: 35px; }

.u-padding-Rl {
  padding-right: 30px; }

.u-padding-Rxm {
  padding-right: 25px; }

.u-padding-Rm {
  padding-right: 20px; }

.u-padding-Rs {
  padding-right: 15px; }

.u-padding-Rxs {
  padding-right: 10px; }

.u-padding-Rxxs {
  padding-right: 5px; }

.u-padding-Rn {
  padding-right: 0; }

.u-margin-Lxxl {
  margin-left: 40px; }

.u-margin-Lxl {
  margin-left: 35px; }

.u-margin-Ll {
  margin-left: 30px; }

.u-margin-Lxm {
  margin-left: 25px; }

.u-margin-Lm {
  margin-left: 20px; }

.u-margin-Ls {
  margin-left: 15px; }

.u-margin-Lxs {
  margin-left: 10px; }

.u-margin-Lxxs {
  margin-left: 5px; }

.u-margin-Ln {
  margin-left: 0; }

.u-padding-Lxxl {
  padding-left: 40px; }

.u-padding-Lxl {
  padding-left: 35px; }

.u-padding-Ll {
  padding-left: 30px; }

.u-padding-Lxm {
  padding-left: 25px; }

.u-padding-Lm {
  padding-left: 20px; }

.u-padding-Ls {
  padding-left: 15px; }

.u-padding-Lxs {
  padding-left: 10px; }

.u-padding-Lxxs {
  padding-left: 5px; }

.u-padding-Ln {
  padding-left: 0; }

.u-is-hidden {
  display: none !important;
  visibility: hidden !important; }

.u-is-visible {
  display: block !important;
  visibility: visible !important; }

.u-is-hidden-visually {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); }

.u-is-visible {
  visibility: visible; }

.u-is-invisible {
  visibility: hidden; }

.u-is-actionable {
  cursor: pointer; }

.u-is-draggable {
  cursor: move; }

.u-is-disabled {
  cursor: default; }

.u-text-center {
  text-align: center; }

.u-text-start {
  text-align: left; }

.u-text-end {
  text-align: right; }

.u-text-extra-small {
  font-size: 15px;
  color: #7D7D8E; }

.u-border-circle {
  border-radius: 50%; }

.u-block {
  display: block;
}

.u-inline {
  display: inline;
}

.u-inline-block {
  display: inline-block;
}

.u-pos-relative {
  position: relative;
}

.u-align-middle {
  vertical-align: middle;
}

.u-vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.u-font-size-1em{
  font-size: 1em;
}

.u-font-size-1p5em{
  font-size: 1.5em;
}

.u-font-size-2em{
  font-size: 2em;
}