.form-search{
  input.search-bar {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
      webit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
  }

  .submit-button {
    position: relative;
    right: 5px;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}