html {
  height: 100%;

  body {
    height: 100%;
    background-color: $gray-darkest;
    color: $gray-lightest;
    font-family: 'Roboto', sans-serif;

    & > div.ember-view {
      height: 100%;
    }
  }
}