<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SlidingBeatsFrontend</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/sliding-beats-frontend.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700&subset=latin,greek,greek-ext,latin-ext,vietnamese,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="assets/vendor.js"></script>
    <script src="assets/sliding-beats-frontend.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
