header {
  /* Permalink - use to edit and share this gradient:
   * http://colorzilla.com/gradient-editor/#4f256b+0,251133+100
   */
  background: $purple; /* Old browsers */
  background: -moz-linear-gradient(top,  $purple 0%, $purple-darker 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  $purple 0%, $purple-darker 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  $purple 0%, $purple-darker 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$purple', endColorstr='$purple-darker',GradientType=0 ); /* IE6-9 */

  background-color: white;
  height: $header-height;
}