div.music-control {
  position: absolute;
  bottom: 0;
  width: 100%;

  div.player {
    float: left;
    background: $purple-darker;
    width: calc(50% - #{$separator-width}/2);
    height: $player-height;
    padding: 5px 22px;
    text-align: center;

    div.content {
      height: 100%;
      display: inline-block;

      > div {
        float: left;
      }

      div.primary-actions {
        .step-backward {
          position: relative;
          bottom: 3px;
          margin-right: 14px;
        }

        .play-pause {
          font-size: 2em;
        }

        .step-forward {
          position: relative;
          bottom: 3px;
          margin-left: 10px;
        }
      }

      div.playback {
        height: 100%;
        margin-left: 25px;

        > div {
          float: left;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }

        div.pb-time {
          span {
            vertical-align: sub;
          }
        }

        div.pb-progress-area {
          height: 11px;
          width:  250px;
          margin: 0 8px;
          cursor: pointer;

          div.pb-progress-bar {
            position: relative;
            background-color: $progress-color-fst;
            height: 3px;

            .elapsed-bar {
              background-color: $progress-color-snd;
              height: 100%;
            }

            .elapsed-handle {
              background-color: $progress-color-snd;
              height: 11px;
              width: 11px;
              border-radius: 5px;
              position: absolute;
              bottom: -4px;
            }
          }

          div.progress-fast-tooltip {
            visibility: hidden;
            position: absolute;
            bottom: 11px;
            font-size: 0.85em;
            background-color: black;
            padding: 0 2px;
            // border-bottom-left-radius: 3px;
            // border-bottom-right-radius: 3px;

            &.visible {
              visibility: visible;
            }
          }
        }
      }

      div.volume {
        margin-left: 25px;
        width: 19.5px;

        > button {
          font-size: 1.5em;
        }

        .volume-slider {
          width: 150%;
          height: 0;
          -webkit-transition: $volume-slider-transition;
          transition: $volume-slider-transition;
          position: absolute;
          bottom: 45px;
          -webkit-transform: translate(-16.66%);
          -ms-transform: translate(-16.66%);
          transform: translate(-16.66%);
          background-color: $purple-darker;
          border-radius: 5px;

          .volume-slider-usable {
            width: 40%;
            height: 90%;
            -webkit-transform: translate(0, 5%);
            -ms-transform: translate(0, 5%);
            transform: translate(0, 5%);
            cursor: pointer;
            margin: 0 auto;

            .volume-bar {
              position: relative;
              width: 25%;
              height: 100%;
              background-color: $progress-color-fst;
              margin: 0 auto;

              .volume-bar-current {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-color: $progress-color-snd;

                &:before {
                  content: '';
                  display: block;
                  width: 400%;
                  transform: translate(-37.5%); //25% is bar + 12.5% half bar
                  height: 0;
                  -webkit-transition: $volume-slider-transition;
                  transition: $volume-slider-transition;
                  background-color: $progress-color-snd;
                }
              }
            }
          }

          &.forced-active {
            height: $volume-slider-height !important;

            .volume-bar-current:before {
              height: $volume-slider-pseudo-before-height !important;
            }
          }
        }

        &:hover {
          &:before {
            content: '';
            display: block;
            width: 100%;
            height: 16px;
            position: absolute;
            transform: translate(0, -100%);
            // pointer-events: none;
          }

          .volume-slider {
            height: $volume-slider-height;

            > div.volume-slider-usable div.volume-bar-current:before {
              height: $volume-slider-pseudo-before-height;
            }
          }
        }
      }
    }

    &.disabled {
      button, > div.content > div.playback > div.pb-progress-area {
        color: $disabled-gray;
        cursor: not-allowed;
      }

      .elapsed-handle {
        display: none;
      }

      &:hover .volume-slider {
        height: 0!important;

        div.volume-bar-current:before {
          height: 0!important;
        }
      }
    }
  }

  .separator {
    float: left;
    // background-image: url("http://localhost:3000/binding_dark.png");
    background: #0E0713;
    height: $player-height;
    width: $separator-width;
  }
}