div.sidebar {
  background-color: $purple-darker;
  width: $sidebar-width;
  height: calc(100% - #{$header-height} - #{$header-height});
  float: left;
  border-top: 1px solid $gray-darkest;
  border-bottom: 1px solid $gray-darkest;
}